[submodule "src/github.com/cloudfoundry-incubator/localdriver"]
	path = src/github.com/cloudfoundry-incubator/localdriver
	url = https://github.com/cloudfoundry-incubator/localdriver
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/cf-debug-server"]
	path = src/github.com/cloudfoundry-incubator/cf-debug-server
	url = https://github.com/cloudfoundry-incubator/cf-debug-server
	branch = master
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
	branch = v2
[submodule "src/github.com/cloudfoundry-incubator/cf_http"]
	path = src/github.com/cloudfoundry-incubator/cf_http
	url = https://github.com/cloudfoundry-incubator/cf_http
	branch = master
[submodule "src/github.com/pivotal-golang/clock"]
	path = src/github.com/pivotal-golang/clock
	url = https://github.com/pivotal-golang/clock
	branch = master
[submodule "src/github.com/tedsuo/ifrit"]
	path = src/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit
	branch = master
[submodule "src/github.com/bmizerany/pat"]
	path = src/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/cf-lager"]
	path = src/github.com/cloudfoundry-incubator/cf-lager
	url = https://github.com/cloudfoundry-incubator/cf-lager
	branch = master
[submodule "src/github.com/pivotal-golang/lager"]
	path = src/github.com/pivotal-golang/lager
	url = https://github.com/pivotal-golang/lager
	branch = master
[submodule "src/github.com/tedsuo/rata"]
	path = src/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata
	branch = master
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
	branch = master
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
	branch = master
[submodule "src/github.com/cloudfoundry-incubator/volman"]
	path = src/github.com/cloudfoundry-incubator/volman
	url = https://github.com/cloudfoundry-incubator/volman
	branch = master
[submodule "src/github.com/cloudfoundry/gunk"]
	path = src/github.com/cloudfoundry/gunk
	url = https://github.com/cloudfoundry/gunk
	branch = master
